//  Font
@font-size__base: 1.4rem;
@line-height__base: 1.36;

//  Focus
@focus__color: @color-blue-dodger;
@focus__box-shadow: 0 0 0 1px @focus__color;

@primary__color: @color-pink;
@success__color: @color-green-apple;
@text__color: @color-brown-darker;
@border__color: @color-gray89;
@button-primary__background-color: @color-pink;
